body{
    background-color: #FFFFFF;
}
#Header{
    font-family: Caprasimo;
    font-size: 1000%;
    margin: 44px;
    text-align: center;
}

#flower-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#caption{
    font-family: Outfit, bold;
    font-size: 14px;
    text-transform: uppercase;
     margin-top: 120px;
    text-align: center;
}
#Description{
    font-family: Outfit, bold;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}
#Button-image{
    display: block;
    margin-top : 40px;
    margin-left: auto;
    margin-right: auto;
}

#carousel {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
}

.carousel-images img {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-left: 20px;
    
}

.menu {
  position: fixed;
  margin-top: 1px;
  margin-bottom: 70px;
  width: 100%;
  height: 0px;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

ul li {
  float: right;
}

ul li a {
font-family: Outfit, bold;
font-weight: bold;
  display: block;
  color: #2C2825;
  font-size: 14px;
  
  margin-right: 40px;
  margin-bottom: 27px;
  text-decoration: none;
  text-transform: uppercase;
  
}

ul li a:hover {
  background-color: #ffffff;
}   
#logo {
  position: absolute;
  left: 40px;
}
#divider {
  position: flex;
  margin-bottom: 70px;
  width: 100%;
}   