body{
    background-color: #FFFFFF;
}
#Header {
  font-family: 'Caprasimo', serif;
  font-size: 150px; 
  text-align: center;
  margin-top: 68px; 
  margin-bottom: 44px;
}
#flower-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#caption{
    font-family: Outfit, bold;
    font-size: 14px;
    text-transform: uppercase;
     margin-top: 120px;
    text-align: center;
}
#Description{
    font-family: Outfit, bold;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}
#Button-image{
    display: block;
    margin-top : 40px;
    margin-left: auto;
    margin-right: auto;
}

#carousel {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-images {
    display: flex;
}

.carousel-images img {
    width: 100%;
    height: auto;
    margin-top: 120px;
    margin-left: 20px;
    
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
} 


.container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 40px; 
}

ul {
  display: flex; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li a {
  font-family: 'Outfit', sans-serif;
  font-weight: bold;
  color: #2C2825;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 40px; 
}

#divider {
    width: 95%;           
    margin-left: auto;    
    margin-right: auto;   
    margin-top: 0;      /* Прибираємо відступ над лінією */
    margin-bottom: 0;
    border: none;
    background-color: black;
    height: 0.5px;
}


